# LaTeX build and temporary files
*.aux
*.fdb_latexmk
*.fls
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.snm
*.synctex.gz
*.vrb
*.run.xml
*.bcf
